{
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"parser": "typescript-eslint-parser",
	"extends": "eslint:recommended",
	"plugins": ["prettier", "typescript"],
	"rules": {
		"indent": "off",
		"no-tabs": "off",
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"printWidth": 120,
				"tabWidth": 4,
				"useTabs": true,
				"parser": "typescript"
			}
		],
		"no-underscore-dangle": "off",
		"import/prefer-default-export": "off",
		"no-console": "off",
		"function-paren-newline": "off",
		"arrow-parens": "off",
		"curly": "off",
		"object-curly-newline": "off",
		"no-confusing-arrow": "off",
		"no-return-assign": "off",
		"no-param-reassign": "off",
		"no-unused-expressions": "off",
		"no-nested-ternary": "off",
		"import/first": 0,
		"no-mixed-spaces-and-tabs": "error",
		"newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
		"comma-dangle": "off"
	}
}
